.wrapper{
  min-width: 100px;
  width: 100px;
  position: reletive;
}

.button{
  width: calc(100% - 10px);
  border: solid 2px;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}

.button:hover{
  background-color: #eeeeee;
}

.content{
  margin-top: 5px;
  width: 100%;
  position:absolute;
  border: solid 2px;
  border-radius: 8px;
  padding: 5px;
  max-height: 100px;
  overflow: overlay;
  display: flex;
}

.content > * {
  border-bottom: solid #dddddd 2px;
  padding: 5px 0;
  cursor: pointer;
}

.content > *:hover {
  background-color: #eeeeee;
}
.content :last-child{
  border-bottom: none;
}

.content::-webkit-scrollbar{
  display:none;
}